rules_version = '2';
//I want to rewrite this condition
service firebase.storage {
  match /b/{bucket}/o {
    match /{userId}/{allPaths=**} {
      allow read, write: if request.auth.uid != null && request.auth.token.email == userId;
    }
  }
}
